---
import type { NavItem } from "~/types";
import "./navheader.css";

const navItems: Array<NavItem> = [
  { title: "Home", url: "#home" },
  { title: "About", url: "#about" },
  { title: "Projects", url: "#projects" },
  { title: "Blog", url: "#blog" },
  { title: "Contact", url: "#contact" },
];
---

<header class="primary-header">
  <nav class="primary-header__inner">
    <div class="logo">
      <img src="/icons/LogoSergio_Green.png" alt="Web main logo" />
    </div>
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-icon-open">&#9776;</label>
    <label for="menu-toggle" class="menu-icon-close">&#9747;</label>
    <ul class="menu">
      {
        navItems.map(({ title, url }) => (
          <li>
            <a class="li-menu" href={url}>
              {title}
            </a>
            {/* <span class="slider-line" /> */}
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  import "./navheader.ts";
</script>

<!-- <script>
  const primaryHeader = document.querySelector(".primary-header");
  const scrollWatcher = document.createElement("div");

  scrollWatcher.setAttribute("data-scroll-watcher", "");
  primaryHeader?.before(scrollWatcher);

  const navObserver = new IntersectionObserver(
    (entries) => {
      primaryHeader?.classList.toggle("sticking", !entries[0].isIntersecting);
    },
    { rootMargin: "100px 0px 0px 0px" }
  );
  console.log(navObserver);
  navObserver.observe(scrollWatcher);
</script> -->
