---
import About from "@components/about/About.astro";
import Contact from "@components/contact/Contact.astro";
import Home from "@components/home/Home.astro";
import Projects from "@components/portfolio/Projects.astro";
import Footer from "@layouts/footer/Footer.astro";
import NavHeader from "@layouts/navheader/NavHeader.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icons/LogoSergio_Green.png" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sergio González</title>
  </head>
  <body>
    <NavHeader />
    <main>
      <Home />
      <About />
      <Projects />
      <Contact />
    </main>
    <Footer />
  </body>
</html>
