---
import Tooltip from "@components/tooltip/Tooltip.astro";
import "./footer.css";

const date: number = new Date().getFullYear();
const text = "01101100011011110111011001100101";
const contentText = "in binary 🤓";
---

<footer class="primary-footer">
  <div class="social-media">
    <ul>
      <li>
        <i class="bx bxl-github bx-md"></i><a href="#"> GitHub</a>
      </li>
      <li>
        <i class="bx bxl-linkedin-square bx-md"></i><a href="#"> LinkedIn</a>
      </li>
      <li><i class="bx bxl-twitter bx-md"></i><a href="#"> X</a></li>
    </ul>
  </div>
  <div class="rights">
    <section class="custom-text">
      Made with
      <a href="https://astro.build/" target="_blank"
        ><img
          src="./icons/logo-astro.png"
          alt="Astro logo"
          style="margin-top: 8px"
        /></a
      >
      and&#160;<Tooltip
        text={text}
        url="./images/heart.png"
        contentText={contentText}
      />
    </section>
    <p>© {date} Sergio González. All rights reserved.</p>
  </div>
</footer>
